<section>
    <h3 class="dobiti-title">Potencijal dobiti</h3>
  </section>
  <div class="dobiti-info">
    <div class="dobiti-box">
      <div class="dobiti-chart">
        <img
          src="/src/img/dobiti/background_shadow.svg"
          alt="Philippe Donnet"
          class="dobiti-back"
        />
      </div>
    </div>
    <div class="dobiti-stats">
      <p>UKUPNA DOBIT KORISNIKA: <br> <span class="price">€ 128 567 000</span></p>
      <p>AKTIVNI KORISNICI: <br><span>77 335</span></p>
    </div>
  </div>
</section>