<footer class="footer-section">
  <div class="footer-logo">
    <img src="/src/img/logo.svg" alt="Generali logo" />
  </div>
  <ul class="footer-links">
    <li><a href="#">Mappa del sito</a></li>
    <li><a href="#">Termini di utilizzo</a></li>
    <li><a href="#">Avviso di accessibilità</a></li>
    <li><a href="#">Gestione dei Cookie</a></li>
    <li>
      <a href="#"
        >Politica sulla protezione dei dati e informativa sulla privacy</a
      >
    </li>
    <li><a href="#">Avviso di frode Web e phishing</a></li>
    <li><a href="#">Politica sui reclami – Australia</a></li>
  </ul>
</footer>
