<header id="header" class="header">
  <div class="header-wrapper">
    <img src="/src/img//header/logo.svg" alt="game logo" class="logo" />
  </div>
  <nav class="nav">
    <ul class="header-wrapper">
      <li class="nav-item ">
        <a href="#" class="nav-link">Informazioni</a>
      </li>
      <li class="nav-item">
        <a href="#about" class="nav-link">CEO</a>
      </li>
      <li class="nav-item">
        <a href="#benefits" class="nav-link">Iniziare a guadagnare subito</a>
      </li>
    </ul>
  </nav>
  <button type="button" class="burger-btn">
    <img
      src="./src/img/header/burger-mobile1.svg"
      alt="burger-icon"
      class="burger-icon"
    />
  </button>
</header>

