<section class="inizia-section">
  <div>
    <h1 class="inizia-title">Inizia a servire con noi</h1>
  </div>
  <div class="inizia-container">
    <div class="inizia-step ">
      <div class="step-icon">
        <img src="/src/img/inizia/person.svg" alt="Clipboard Icon" />
      </div>
      <div class="step-content step-1">
        <h2 class="step-title ">Registrazione</h2>
        <p class="step-description">
          Compilare tutti i campi del modulo di registrazione sul sito web.
        </p>
        <button class="step-button">INIZIARE</button>
      </div>
    </div>
    <div class="inizia-step step-2 vertical-border">
      <div class="step-icon">
        <img src="/src/img/inizia/detective-fill.svg" alt="Glasses Icon" />
      </div>
      <div class="step-content">
        <h2 class="step-title">Consultazione di esperti</h2>
        <p class="step-description">
          Dopo la registrazione, rispondere all'invito del Consulente di
          supporto di Petrol Energia e seguire tutte le sue istruzioni.
        </p>
        <button class="step-button width-btn">INIZIARE</button>
      </div>
    </div>
    <div class="inizia-step step-3 vertical-border">
      <div class="step-icon">
        <img src="/src/img/inizia/tree-light.svg" alt="Tree Icon" />
      </div>
      <div class="step-content">
        <h2 class="step-title">Deposito</h2>
        <p class="step-description">
          Dopo la verifica, è necessario depositare un minimo di 250 euro sul
          conto dell'azienda.
        </p>
        <button class="step-button">INIZIARE</button>
      </div>
    </div>
  </div>
</section>
