<section class="investment-section">
  <div class="investment-flex">
    <div class="investment-content">
      <h1 class="investment-title">
        Investire 250 euro per raggiungere 5000 euro in una settimana vi sembra
        impossibile? <br />
        Con il Gruppo Generali potete fare ancora di più!
      </h1>
    </div>
    <div class="imgback"></div>
    <div class="registration">
      <form class="registration-form">
        <input
          type="text"
          placeholder="IL SUO NOME"
          required
          class="input-field"
        />
        <input
          type="text"
          placeholder="IL SUO COG"
          required
          class="input-field"
        />
        <input type="email" placeholder="E-MAIL" required class="input-field" />
        <input type="tel" placeholder="+39" required class="input-field left" />
        <button type="submit" class="submit-button">REGISTRATI</button>
      </form>
    </div>
  </div>
  <div class="placeholder-flex">
    <div class="image-placeholder">
    </div>
    <div class="investment-purpose">
      <h2 class="nostro">IL NOSTRO SCOPO</h2>
      <p class="siamo">
        Siamo qui per promuovere lo sviluppo e la circolazione delle persone,
        delle imprese e del Paese.
      </p>
    </div>
  </div>
</section>
