<section class="shareholders-section">
  <h2 class="section-title">Gli azionisti dell'azienda</h2>
  <div class="shareholders-logos">
    <img src="/src/img/shareholders/mediobanca.svg" alt="Mediobanca logo">
    <img src="/src/img/shareholders/unicredit.svg" alt="UniCredit logo">
    <img src="/src/img/shareholders/banca-d-italia.svg" alt="Banca d'Italia logo">
    <img src="/src/img/shareholders/bd-holdings.svg" alt="B&D Holdings logo">
    <img src="/src/img/shareholders/carlo-tassara.svg" alt="Carlo Tassara S.p.A. logo">
    <img src="/src/img/shareholders/generali.svg" alt="Generali logo">
  </div>
</section>

