/* Error: Undefined mixin.
 *   ,
 * 4 | /   @include media(desktop) {
 * 5 | |     margin: 92px 0px 77px 0px;
 * 6 | | 
 * 7 | \   }
 *   '
 *   src\scss\inizia.scss 4:3  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined mixin.\a   \2577 \a 4 \2502  \250c    @include media(desktop) {\a 5 \2502  \2502      margin: 92px 0px 77px 0px;\a 6 \2502  \2502  \a 7 \2502  \2514    }\a   \2575 \a   src\\scss\\inizia.scss 4:3  root stylesheet";
}
